.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow: hidden;
}

.content-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
